doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.styl')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact
    section#wrapper!= body
        footer 
          section.css-table
            section.four-column
              section.cell
                p Blah <br />Blahblah<br /> Blahblahblah
